- @no_container = true
- page_title 'ConvDev Index'

.container
  - if show_callout?('convdev_intro_callout_dismissed')
    = render 'callout'

  .prepend-top-default
  - if !Gitlab::CurrentSettings.usage_ping_enabled
    = render 'disabled'
  - elsif @metric.blank?
    = render 'no_data'
  - else
    .convdev
      .convdev-header
        %h2.convdev-header-title{ class: "convdev-#{score_level(@metric.average_percentage_score)}-score" }
          = number_to_percentage(@metric.average_percentage_score, precision: 1)
        .convdev-header-subtitle
          index
          %br
          score
          = link_to icon('question-circle', 'aria-hidden' => 'true'), help_page_path('user/admin_area/monitoring/convdev')

      .convdev-cards.board-card-container
        - @metric.cards.each do |card|
          = render 'card', card: card

      .convdev-steps.d-none.d-lg-block
        - @metric.idea_to_production_steps.each_with_index do |step, index|
          .convdev-step{ class: "convdev-#{score_level(step.percentage_score)}-score" }
            = custom_icon("i2p_step_#{index + 1}")
            %h4.convdev-step-title
              = step.title
