.card {
  margin-bottom: $gl-padding;
}

.card-slim {
  @extend .card;
  margin-bottom: $gl-vert-padding;
}


.card-heading {
  padding: $gl-vert-padding $gl-padding;
  line-height: 36px;

  .controls {
    margin-top: -2px;
    float: right;
  }

  .dropdown-menu-toggle {
    line-height: 20px;
  }

  .badge {
    margin-top: -2px;
    margin-left: 5px;
  }

  &.split {
    display: flex;
    align-items: center;
  }

  .left {
    flex: 1 1 auto;
  }

  .right {
    flex: 0 0 auto;
    text-align: right;
  }
}

.card-empty-heading {
  border-bottom: 0;
}

.card-body {
  padding: $gl-padding;
  background-color: $white-light;

  .form-actions {
    margin: -$gl-padding;
    margin-top: $gl-padding;
  }
}

.card-title {
  font-size: inherit;
  line-height: inherit;
}
