- page_title "Gitea Import"
- header_title "Projects", root_path

%h3.page-title
  = custom_icon('go_logo')
  Import Projects from Gitea

%p
  To get started, please enter your Gitea Host URL and a
  = succeed '.' do
    = link_to 'Personal Access Token', 'https://github.com/gogits/go-gogs-client/wiki#access-token'

= form_tag personal_access_token_import_gitea_path do
  .form-group.row
    = label_tag :gitea_host_url, 'Gitea Host URL', class: 'col-form-label'
    .col-sm-4
      = text_field_tag :gitea_host_url, nil, placeholder: 'https://try.gitea.io', class: 'form-control'
  .form-group.row
    = label_tag :personal_access_token, 'Personal Access Token', class: 'col-form-label'
    .col-sm-4
      = text_field_tag :personal_access_token, nil, class: 'form-control'
  .form-actions
    = submit_tag 'List Your Gitea Repositories', class: 'btn btn-create'
