#modal-create-new-dir.modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %a.close{ href: "#", "data-dismiss" => "modal" } ×
        %h3.page-title= _('Create New Directory')
      .modal-body
        = form_tag project_create_dir_path(@project, @id), method: :post, remote: false, class: 'js-create-dir-form js-quick-submit js-requires-input' do
          .form-group.row
            = label_tag :dir_name, _('Directory name'), class: 'col-form-label'
            .col-sm-10
              = text_field_tag :dir_name, params[:dir_name], required: true, class: 'form-control'

          = render 'shared/new_commit_form', placeholder: _("Add new directory")

          .form-actions
            = submit_tag _("Create directory"), class: 'btn btn-create'
            = link_to "Cancel", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

            = render 'shared/projects/edit_information'
