= form_errors(@service)

- if lookup_context.template_exists?('help', "projects/services/#{@service.to_param}", true)
  = render "projects/services/#{@service.to_param}/help", subject: subject
- elsif @service.help.present?
  .card
    = markdown @service.help

.service-settings
  - if @service.show_active_box?
    .form-group.row
      = form.label :active, "Active", class: "col-form-label"
      .col-sm-10
        = form.check_box :active, disabled: disable_fields_service?(@service)

  - if @service.configurable_events.present?
    .form-group.row
      = form.label :url, "Trigger", class: 'col-form-label'

      .col-sm-10
        - @service.configurable_events.each do |event|
          %div
            = form.check_box service_event_field_name(event), class: 'float-left'
            .prepend-left-20
              = form.label service_event_field_name(event), class: 'list-label' do
                %strong
                  = event.humanize

          - field = @service.event_field(event)

          - if field
            %p
              = form.text_field field[:name], class: "form-control", placeholder: field[:placeholder]

          %p.light
            = @service.class.event_description(event)

  - @service.global_fields.each do |field|
    - type = field[:type]

    - if type == 'fieldset'
      - fields = field[:fields]
      - legend = field[:legend]

      %fieldset
        %legend= legend
        - fields.each do |subfield|
          = render 'shared/field', form: form, field: subfield
    - else
      = render 'shared/field', form: form, field: field
