- @content_class = "limit-container-width limit-container-width-sm" unless fluid_layout
- page_title s_("WikiClone|Git Access"), _("Wiki")

.wiki-page-header.has-sidebar-toggle
  %button.btn.btn-default.d-block.d-lg-none.float-right.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .git-access-header
    = _("Clone repository")
    %strong= @project_wiki.full_path

  = render "shared/clone_panel", project: @project_wiki

.wiki-git-access
  %h3= s_("WikiClone|Install Gollum")
  %pre.dark
    :preserve
      gem install gollum
  %p
    = (s_("WikiClone|It is recommended to install %{markdown} so that GFM features render locally:") % { markdown: "<code>github-markdown</code>" }).html_safe
  %pre.dark
    :preserve
      gem install github-markdown

  %h3= s_("WikiClone|Clone your wiki")
  %pre.dark
    :preserve
      git clone #{ content_tag(:span, h(default_url_to_repo(@project_wiki)), class: 'clone')}
      cd #{h @project_wiki.path}

  %h3= s_("WikiClone|Start Gollum and edit locally")
  %pre.dark
    :preserve
      gollum
      == Sinatra/1.3.5 has taken the stage on 4567 for development with backup from Thin
      >> Thin web server (v1.5.0 codename Knife)
      >> Maximum connections set to 1024
      >> Listening on 0.0.0.0:4567, CTRL+C to stop

= render 'sidebar'
