= form_for [:admin, @label], html: { class: 'label-form js-requires-input' } do |f|
  = form_errors(@label)

  .form-group.row
    = f.label :title, class: 'col-form-label'
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group.row
    = f.label :description, class: 'col-form-label'
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit"
  .form-group.row
    = f.label :color, "Background color", class: 'col-form-label'
    .col-sm-10
      .input-group
        .input-group-prepend
          .input-group-text.label-color-preview &nbsp;
        = f.text_field :color, class: "form-control"
      .form-text.text-muted
        Choose any color.
        %br
        Or you can choose one of suggested colors below

      .suggest-colors
        - suggested_colors.each do |color|
          = link_to '#', style: "background-color: #{color}", data: { color: color } do
            &nbsp;

  .form-actions
    = f.submit 'Save', class: 'btn btn-save js-save-button'
    = link_to "Cancel", admin_labels_path, class: 'btn btn-cancel'
