.form-group
  %label.append-bottom-10{ for: 'cluster-name' }
    = s_('ClusterIntegration|Kubernetes cluster name')
  .input-group
    %input.form-control.cluster-name.js-select-on-focus{ value: @cluster.name, readonly: true }
    %span.input-group-append
      = clipboard_button(text: @cluster.name, title: s_('ClusterIntegration|Copy Kubernetes cluster name'), class: 'input-group-text btn-default')

= form_for @cluster, url: namespace_project_cluster_path(@project.namespace, @project, @cluster), as: :cluster do |field|
  = form_errors(@cluster)

  = field.fields_for :platform_kubernetes, @cluster.platform_kubernetes do |platform_kubernetes_field|
    .form-group
      = platform_kubernetes_field.label :api_url, s_('ClusterIntegration|API URL')
      .input-group
        = platform_kubernetes_field.text_field :api_url, class: 'form-control js-select-on-focus', placeholder: s_('ClusterIntegration|API URL'), readonly: true
        %span.input-group-append
          = clipboard_button(text: @cluster.platform_kubernetes.api_url, title: s_('ClusterIntegration|Copy API URL'), class: 'input-group-text btn-default')

    .form-group
      = platform_kubernetes_field.label :ca_cert, s_('ClusterIntegration|CA Certificate')
      .input-group
        = platform_kubernetes_field.text_area :ca_cert, class: 'form-control js-select-on-focus', placeholder: s_('ClusterIntegration|Certificate Authority bundle (PEM format)'), readonly: true
        %span.input-group-append.clipboard-addon
          = clipboard_button(text: @cluster.platform_kubernetes.ca_cert, title: s_('ClusterIntegration|Copy CA Certificate'), class: 'input-group-text btn-blank')

    .form-group
      = platform_kubernetes_field.label :token, s_('ClusterIntegration|Token')
      .input-group
        = platform_kubernetes_field.text_field :token, class: 'form-control js-cluster-token js-select-on-focus', type: 'password', placeholder: s_('ClusterIntegration|Token'), readonly: true
        %span.input-group-append
          %button.btn.btn-default.js-show-cluster-token{ type: 'button' }
            = s_('ClusterIntegration|Show')
          = clipboard_button(text: @cluster.platform_kubernetes.token, title: s_('ClusterIntegration|Copy Token'), class: 'btn-default')

    .form-group
      = platform_kubernetes_field.label :namespace, s_('ClusterIntegration|Project namespace (optional, unique)')
      = platform_kubernetes_field.text_field :namespace, class: 'form-control', placeholder: s_('ClusterIntegration|Project namespace')

    .form-group
      = field.submit s_('ClusterIntegration|Save changes'), class: 'btn btn-success'
