- expanded = Rails.env.test?
- import_data = @project.import_data || @project.build_import_data
- protocols = AddressableUrlValidator::DEFAULT_OPTIONS[:protocols].join('|')

%section.settings.project-mirror-settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Pull from a remote repository
    %button.btn.js-settings-toggle
      = expanded ? 'Collapse' : 'Expand'
    %p
      Set up your project to automatically have its branches, tags, and commits
      updated from an upstream repository.
      = link_to 'Read more', help_page_path('workflow/repository_mirroring', anchor: 'pulling-from-a-remote-repository'), target: '_blank'
  .settings-content
    = form_for @project, url: project_mirror_path(@project), html: { class: 'gl-show-field-errors project-mirror-push-form js-project-mirror-push-form', autocomplete: 'false', data: { project_mirror_endpoint: ssh_host_keys_project_mirror_path(@project, :json) } } do |f|
      %div
        = form_errors(@project)
      = render "shared/mirror_update_button"
      = render "projects/mirrors/pull/mirror_update_fail"
      .form-group
        = f.check_box :mirror, class: "float-left"
        .prepend-left-20
          = f.label :mirror, "Mirror repository", class: "label-light append-bottom-0"

      .form-group
        = f.label :username_only_import_url, "Git repository URL", class: "label-light"
        = f.text_field :username_only_import_url, class: 'form-control js-repo-url', placeholder: 'https://username@gitlab.company.com/group/project.git', required: 'required', pattern: "(#{protocols}):\/\/.+", title: 'URL must have protocol present (eg; ssh://...)'

      = render "projects/mirrors/instructions"

      = f.fields_for :import_data, import_data do |import_form|
        = render partial: "projects/mirrors/pull/ssh_host_keys", locals: { f: import_form }
        = render partial: "projects/mirrors/pull/authentication_method", locals: { f: import_form }

      .form-group
        = f.label :mirror_user_id, "Mirror user", class: "label-light"
        = select_tag('project[mirror_user_id]', options_for_mirror_user, class: "select2 lg", required: true)
        .form-text.text-muted
          This user will be the author of all events in the activity feed that are the result of an update,
          like new branches being created or new commits being pushed to existing branches.
          You can only assign yourself to be the mirror user.

      .form-group
        = f.check_box :only_mirror_protected_branches, class: 'float-left'
        .prepend-left-20
          = f.label :only_mirror_protected_branches, class: 'label-light'
          = link_to icon('question-circle'), help_page_path('user/project/protected_branches')

      .form-group
        = f.check_box :mirror_overwrites_diverged_branches, class: 'float-left'
        .prepend-left-20
          = f.label :mirror_overwrites_diverged_branches, "Overwrite diverged branches", class: 'label-light'
          .form-text.text-muted
            If disabled, a diverged local branch will not be automatically updated with commits from its remote counterpart,
            to prevent local data loss. If the default branch (#{@project.default_branch}) has diverged and cannot be updated,
            mirroring will fail. Other diverged branches are silently ignored.

      - if @project.builds_enabled?
        = render "shared/mirror_trigger_builds_setting", f: f

      = f.submit 'Save changes', class: 'btn btn-create', name: 'update_remote_mirror'
