= form_for [:admin, @group] do |f|
  = form_errors(@group)
  = render 'shared/group_form', f: f

  = render 'shared/repository_size_limit_setting', form: f, type: :group

  - if Gitlab::CurrentSettings.should_check_namespace_plan?
    = render 'admin/namespace_plan', f: f

  .form-group.row.group-description-holder
    = f.label :avatar, "Group avatar", class: 'col-form-label'
    .col-sm-10
      = render 'shared/choose_group_avatar_button', f: f

  = render 'shared/visibility_level', f: f, visibility_level: visibility_level, can_change_visibility_level: can_change_group_visibility_level?(@group), form_model: @group

  .form-group.row
    .offset-sm-2.col-sm-10
      = render 'shared/allow_request_access', form: f

  = render 'groups/group_admin_settings', f: f

  - if @group.shared_runner_minutes_supported?
    = render 'namespaces/shared_runners_minutes_setting', f: f
    - unless @group.new_record?
      .form-group.row
        .offset-sm-2.col-sm-10
          = render 'namespaces/shared_runners_minutes_setting_reset', link_reset_minutes: admin_group_reset_runners_minutes_path(@group)

  - if @group.new_record?
    .form-group.row
      .offset-sm-2.col-sm-10
        .alert.alert-info
          = render 'shared/group_tips'
    .form-actions
      = f.submit 'Create group', class: "btn btn-create"
      = link_to  'Cancel', admin_groups_path, class: "btn btn-cancel"

  - else
    .form-actions
      = f.submit 'Save changes', class: "btn btn-save"
      = link_to  'Cancel', admin_group_path(@group), class: "btn btn-cancel"

- if @group.persisted? && Gitlab::Auth::LDAP::Config.group_sync_enabled?
  %h3.page-title LDAP synchronizations
  = render 'ldap_group_links/form', group: @group
  = render 'ldap_group_links/ldap_group_links', group: @group
