- if @domain.errors.any?
  #error_explanation
    .alert.alert-danger
      - @domain.errors.full_messages.each do |msg|
        %p= msg

.form-group.row
  = f.label :domain, class: 'col-form-label' do
    Domain
  .col-sm-10
    = f.text_field :domain, required: true, autocomplete: 'off', class: 'form-control', disabled: @domain.persisted?

- if Gitlab.config.pages.external_https
  .form-group.row
    = f.label :certificate, class: 'col-form-label' do
      Certificate (PEM)
    .col-sm-10
      = f.text_area :certificate, rows: 5, class: 'form-control'
      %span.help-inline Upload a certificate for your domain with all intermediates

  .form-group.row
    = f.label :key, class: 'col-form-label' do
      Key (PEM)
    .col-sm-10
      = f.text_area :key, rows: 5, class: 'form-control'
      %span.help-inline Upload a private key for your certificate
- else
  .nothing-here-block
    Support for custom certificates is disabled.
    Ask your system's administrator to enable it.
