- show_counter = local_assigns.fetch(:show_counter, false)
- primary = local_assigns.fetch(:primary, false)
- panel_class = primary ? 'bg-primary' : ''

.card{ class: panel_class }
  .card-header
    .title
      = title
    - if show_counter
      .counter
        = number_with_delimiter(issuables.length)

  - class_prefix = dom_class(issuables).pluralize
  %ul{ class: "well-list milestone-#{class_prefix}-list", id: "#{class_prefix}-list-#{id}" }
    = render partial: 'shared/milestones/issuable',
             collection: issuables,
             as: :issuable,
             locals: { show_project_name: show_project_name, show_full_project_name: show_full_project_name }
